body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background: white;
  overflow-x: hidden;
}

.intro {
  padding: 60px 40px;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
}

h1.visible {
  opacity: 1;
  transform: translateY(0);
}

.gallery {
  display: flex;
  padding: 40px;
  gap: 20px;
}

.box {
  background: #ccc;
  height: 150px;
  flex: 1;
}

.img1 {
  flex: 1;
  height: 500px;
}

.right-stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  font-size: 7rem;
  font-weight: bold;
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 0;
}

.marquee p {
  display: inline-block;
  animation: scrollLeft 30s linear infinite;
  margin-bottom: 2rem;
}

.marquee-top p {
  animation-name: scrollRight;
}
.marquee-bottom p {
  animation-name: scrollLeft;
  margin-top: 5px;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
